@page
@model ContactModel
@{
    ViewData["Title"] = "Contact us";
}

<div style="text-align: center; padding-top: 30px;">
    <h1 style="color: #0033cc; font-family: Comic Sans MS; font-size: 36px;">Contact us</h1>
</div>


<div style="text-align: center; padding-top: 10px;">
    <img src="/images/line_IT.png" alt="Line" width="600" style="margin-top: 10px;" /><br />
    <p></p>
    2nd Floor Office Or add Line to report problems and take photos <br />
    between 8:00 AM and 10:00 PM. <br />
    📞 Tell: 02-7015226 #59<br />
</div>


<!-- Google Maps Awaji -->
<!-- <div style="margin-top:20px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3878.1577338791244!2d100.62736907508724!3d13.587173486787709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a751c2eb6185%3A0x7956c3bceb09a59e!2sAwaji%20Materia%20(Thailand)%20Co.%20Ltd.!5e0!3m2!1sen!2sth!4v1751103742439!5m2!1sen!2sth"
            width="100%"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
<p>
    <h6 style="font-family: Comic Sans MS; font-size: 18px;">Contact us from here!</h6>
    Awaji Materia (Thailand) CO., Ltd.<br />
    81 Moo 4 Prakasa Rd. T. Bangmuang A. Muang Samutprakarn 10270<br />
    📞 Tell: 02-701-5226
</p> -->
