@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}
<div style="text-align: center; padding-top: 30px;">
    <h1 style="color: #0033cc; font-family: Comic Sans MS; font-size: 36px;">Menu</h1>

    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; justify-items: center; max-width: 700px; margin: 40px auto;">
        <a href="/Marking" class="menu-button blue">Marking Process</a>
        <a href="/PackingList" class="menu-button gray">Packing List</a>
        <a href="/PackingAndMarkingTracking" class="menu-button lightgray">PackingAndMarkingTracking</a>

        @*<a href="#" class="menu-button lightblue"></a>
        <a href="#" class="menu-button lightgray"></a>
        <a href="#" class="menu-button lightgray"></a>

        <a href="#" class="menu-button lightblue"></a>
        <a href="#" class="menu-button lightgray"></a>
        <a href="#" class="menu-button lightgray"></a>*@
    </div>
</div>


    <style>
        .menu-button {
            display: inline-block;
            width: 180px;
            height: 80px;
            border-radius: 40px;
            text-align: center;
            line-height: 80px;
            text-decoration: none;
            font-size: 20px;
            font-family: Comic Sans MS;
            font-weight: bold;
            margin: 10px;
            transition: 0.3s;
        }

            .menu-button.blue {
                background-color: #33b5ff;
                color: white;
            }

            .menu-button.gray {
                background-color: #a0a0a0;
                color: #333;
            }

            .menu-button.lightgray {
                background-color: #dddddd;
                color: #0033cc;
            }

            .menu-button.lightblue {
                background-color: #cceeff;
                color: #0033cc;
            }

            .menu-button:hover {
                transform: scale(1.05);
            }
    </style>


